@font-face {
    font-family: "Nunito", sans-serif;;
    src: url(/accets/Fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

:root {
    /* Font */
    --main-font: 'Nunito', sans-serif; /* шрифт для всего текста на странице */

    /* Colors */
    --color-orange: #FF7A2F; /* для кнопок, иконок, логотипа и всех ключевых действий */
    --color-indigo: #3D3D80; /* для плашек, футера или выделенных предложений */
    --color-white: #FDF9F5;
    --color-text: #2C2C2C;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
    color: var(--color-text);
    background-color: var(--color-white);
}

.header {
    min-height: 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.header-logo a {
    color: var(--color-orange);
    font-weight: 800;
    text-decoration: none;
    transition: 0.2s;
}

.header-logo a:hover {
    color: var(--color-orange);
    font-weight: 800;
}

.header-nav,
.nav-ul,
.header-nav-buttons {
    display: flex;
    align-items: center;
}

.header-nav {
    gap: 4rem;
}

.nav-ul,
.header-nav-buttons {
    gap: 2rem;
}

.nav-ul {
    list-style: none;
}

.nav-ul a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 700;
    transition: 0.2s;
}

.nav-ul a:hover {
    color: var(--color-orange);
}

.button-login,
.button-cart {
    cursor: pointer;
    transition: 0.2s;
}

.button-login {
    color: var(--color-white);
    background-color: var(--color-text);
    border: none;
    width: 5rem;
    height: 2rem;
    border-radius: 3rem;
    font-weight: 700;
    font-family: var(--main-font);
}

.button-login:hover {
    background-color: var(--color-orange);
}

.button-cart {
    border: none;
    background-color: transparent;
}

.button-cart svg {
    color: var(--color-text);
    transition: 0.2s;
}

.button-cart svg:hover {
    color: var(--color-orange);
}

.main {
    min-height: 100vh;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-indigo);
    min-height: 5rem;
    color: var(--color-white);
    padding: 2rem;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.contacts-ul-item {
    list-style: none;
}

.contacts-ul-item a {
    text-decoration: none;
    color: var(--color-white);
    transition: 0.2s;
}

.contacts-ul-item a:hover {
    text-decoration: none;
    color: var(--color-orange);
}

.contacts-ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-contacts--title {
    color: #FF7A2F;
    font-size: 1.5rem;
}

.social-media-ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social-media-item {
    list-style: none;
}

.social-media-item a svg {
    color: var(--color-white);
    transition: 0.2s;
}

.social-media-item a svg:hover {
    color: var(--color-orange);
}

.footer-copyright {
    display: flex;
    align-items: center;
    color: #999999;
    gap: 0.1rem;
}

.menu-choose {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    font-weight: 700;

    background-color: var(--color-white);
}

.menu a {
    color: var(--color-text);
    transition: 0.2s;
    text-decoration: none;
}

.menu a:hover {
    color: var(--color-orange);
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    align-items: center;
    justify-content: center;
    justify-items: center;

    gap: 4rem;
    padding: 4rem;
    width: 100%;
    
    background: linear-gradient(90deg, var(--color-orange), var(--color-indigo));
}

.menu-container-title {
    color: var(--color-white);
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
}

.menu-item-image {
    width: 210px;
    height: 210px;

    border-radius: 1rem;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 350px;
    padding: 2rem;

    border-radius: 1rem;

    gap: 1rem;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    background-color: var(--color-white);
}

.menu-item-description {
    min-height: 10rem;
}

.price-cart-button {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.price {
    font-weight: 800;
    color: var(--color-text);
}

.to-cart-button {
    font-weight: 800;
    font-family: var(--main-font);
    color: var(--color-white);

    background-color: var(--color-indigo);
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.to-cart-button:hover {
    background-color: var(--color-orange);
}









@media(max-width: 1224px) {
    .menu-container  {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 836px) {
    .menu-container  {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 576px) {
    .nav-ul {
        display: none;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .footer-contacts {
        align-items: center;
    }

    .contacts-ul-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-choose {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .menu-container  {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 400px) {
    .nav-ul {
        display: none;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .footer-contacts {
        align-items: center;
    }

    .contacts-ul-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-container  {
        grid-template-columns: repeat(1, 1fr);
    }
}

